@import '../../scss';

$aboutBp: 550px;

.About {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  padding: 0 16px;
  @media (max-width: $aboutBp) {
    .About--Inner {
      display: flex !important;
      flex-direction: column;
      .About--PortraitWrapper {
        .About--PortraitContent {
          position: relative !important;
          top: unset !important;
        }
      }
    }
  }
  .About--Inner {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 400px));
    column-gap: 32px;
    .About--PortraitWrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .About--PortraitContent {
        position: sticky;
        top: 141px;
        text-align: center;
        color: $grey;
        display: flex;
        flex-direction: column;
        align-items: center;
        .About--Portrait {
          width: 100%;
          max-width: 400px;
          opacity: 0.95;
          border-radius: 8px;
          @include boxShadow();
        }
        a {
          color: $grey;
        }
      }
    }
    .About--Copy {
      white-space: pre-line;
      line-height: 1.3;
      padding: 40px 0;
      @include piecewise(font-size, 18, 20);
      a {
        font-weight: bold;
        color: rgba($black, 0.7);
        letter-spacing: 0.2px;
      }
    }
  }
}
