@import '../../scss';

button.Button {
  opacity: 1;
  transition: transform 75ms ease, opacity 150ms ease;
  &:hover {
    opacity: 0.85;
    transform: translateY(-1px);
  }
  &:active {
    transform: translateY(1px);
  }
}
