@import '../../scss';

.AudioProgress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 10px;
  width: 100%;
  &:hover {
    .AudioProgress-HoverTime {
      display: block;
    }
  }
  .AudioProgress-HoverTime {
    display: none;
    position: absolute;
    bottom: calc(100% + 5px);
    color: white;
    background: orange;
    border-radius: 8px;
    padding: 4px;
    @include antialiasing();
  }
  .AudioProgress-Inner {
    height: 10px;
    background-color: orange;
    transform-origin: left;
  }
}
