@import '../../scss';

.SoundcloudPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  .SoundcloudPlayer--PlayPause {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    border-radius: 100px;
    padding: 8px;
    &.isPaused > img {
      transform: translateX(3px);
    }
  }
}
