@import '../../scss';

header {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px 22px;
  // padding-bottom: 22px;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100;
  @include appBackground();
  .Name {
    font-size: 24px;
    // @include piecewise(font-size, 28, 48);
    @media (max-width: $globalMin) {
      font-size: 28px !important;
    }
    font-size: calc(28px + (100vw - 480px) / 26);
    @media (min-width: $globalMax) {
      font-size: 48px !important;
    }
    font-weight: 700;
    font-family: Fakt, sans-serif;
    letter-spacing: 0.3px;
    white-space: nowrap;
    max-height: 42px;
    @include noSelect();
  }
}
