@import '../../scss';

.BlogPostHeader {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  h2 {
    font-size: 28px;
    @include piecewise(font-size, 28, 36);
  }
  h3 {
    font-size: 20px;
    @include piecewise(font-size, 18, 22);
  }
}

.BlogPostFooter {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  .BlogPostFooter--RowOne {
    display: flex;
    justify-content: flex-end;
    .BlogPostFooter--Date {
      font-size: 14px;
    }
  }
}
