@import '../../scss';

$navBreakpoint: 500;

nav {
  display: flex;
  @include piecewise(display, grid, flex, $navBreakpoint);
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  column-gap: 14px;
  row-gap: 4px;
  @include piecewise(flex-direction, column, row, $navBreakpoint);
  @include piecewise(font-size, 15, 22);
  @media (min-width: $globalMin) {
    font-size: 15px;
  }
  font-size: calc(15px + (100vw - 480px) / 74.2857142857);
  @media (min-width: $globalMax) {
    font-size: 22px;
  }
  a {
    @include noSelect();
    &:not(:last-child) {
      @include piecewise(margin-right, 0, 8, $navBreakpoint);
      @media (min-width: $navBreakpoint) {
        margin-right: 12px;
      }
      @media (min-width: $globalMax) {
        margin-right: 24px;
      }
    }
    &.activeRoute {
      text-decoration: underline;
      // border-bottom: 2px solid $black;
    }
  }
}
