tbody.ProjectsTableBody {
  tr {
    td {
      &.project {
        font-style: italic;
      }
      &.release > * {
        justify-content: center;
      }
      img.ProjectsTableBody--Media {
        filter: grayscale(1);
      }
      .ProjectsTableBody--StoresCell {
        display: flex;
        flex-wrap: nowrap;
      }
    }
    &:first-child {
      td {
        padding-top: 8px;
      }
    }
  }
}
