@import '../../scss';

.Noise {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  animation: playTape 8s infinite linear reverse;
  filter: drop-shadow(2px 4px 6px black) blur(60px);
  opacity: 0.4;
}
