.Album {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  h2 {
    text-align: center;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
}
