.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  .Contact--Content {
    display: flex;
    flex-direction: column;
    .Contact--EmailText {
      text-align: center;
    }
  }
}
