.Press {
  display: grid !important;
  grid-template-columns: repeat(2, auto);
  column-gap: 48px;
  .Press--Left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // overflow: auto;
    .Press--TopSpacer {
      min-height: 0;
      flex: 0 0 calc(33vh - 140px);
    }
    .PressQuotes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      > *:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    .Press--BottomSpacer {
      min-height: 0;
      flex: 0 0 calc(33vh - 140px);
    }
  }
  .Press--Right {
    .Press--RightInner {
      flex-direction: column;
      position: sticky;
      top: 0;
      padding-top: 33%;
    }
  }
}
