@import '../../scss';

.RebelFM {
  display: flex;
  flex-direction: column;
  .RebelFM--Description {
    font-size: 13px;
    opacity: 0.8;
    letter-spacing: 0.3;
    font-style: italic;
    line-height: 1.2;
    .RebelFM--HREF {
      text-decoration: underline;
    }
  }
}
